.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 0px;
  background-image: url('../images/poster.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0px;
  display: none;
}
